.widget{
    display: flex;
    flex:1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 3px 4px 14px 2px rgba(222,218,218,0.75);
    -webkit-box-shadow: 3px 4px 14px 2px rgba(222,218,218,0.75);
    -moz-box-shadow: 3px 4px 14px 2px rgba(222,218,218,0.75);
    border-radius: 10px;
    height: 100px;


    .left, .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title{
                font-weight: bold;
                font-size: 14px;
                color: rgb(160,160,160);
            }

        .counter{
            font-size: 28px;
            font-weight: 300;
        }

        .link{
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;

            &.positive{
                color: rgb(0,200,0) ;
            }
            &.negative{
                color: red;
            }
        }

        .icon{
            padding: 5px;
           
            align-self: flex-end;
            border-radius: 5px;
        }
    }
}