.home{
    display: flex;
    .homeContainer{
        flex: 6;
        height: 100vh;

        .widgets,.charts{
            display: flex;
            gap: 20px;
            margin: 20px;
        }

        .charts{
            padding: 5px 20px;
        }


        .listContainer{
            
        }
    }
}