.datatable{
    height: 700px;
    padding: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
        }

    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
      

        &.active{
            color: green;
            background-color: rgba(0,128,0,0.2);
        }

        &.pending{
            background-color: rgba(218,165,32,0.2);
            color: goldenrod;
        }
        &.passive{
            color:crimson;
            background-color: rgba(255,0,0,0.07);
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding : 2px 5px;
            border-radius: 5px;
            color:rgb(67, 34, 121);
            border: 0.5px solid rgb(146, 82, 179);
        }
        .deleteButton{
            padding : 2px 5px;
            border-radius: 5px;
            color:crimson;
            border: 1px solid rgba(255,0,0,0.07);
        }
    }
}